:root {
    --black: #000000;
    --black-10: rgb(0 0 0 / 10%);
    --black-20: rgb(0 0 0 / 20%);
    --black-50: rgb(0 0 0 / 50%);
    --black-75: rgb(0 0 0 / 75%);
    --black-90: rgb(0 0 0 / 90%);
    --white: #ffffff;
    --white-40: rgb(255 255 255 / 40%);
    --white-50: rgb(255 255 255 / 50%);
    --white-60: rgb(255 255 255 / 60%);
    --white-70: rgb(255 255 255 / 70%);
    --white-80: rgb(255 255 255 / 80%);
    --white-90: rgb(255 255 255 / 90%);
    --error: #f00;
    --text-color:#1F1F1F;
    --purple-color:#022572;
    --dark-purple: #002677;
    --blue-color: #00ADD8;
    --dark-blue:#091735;
    --light-gray-color: #EBEBEB;
    --mid-gray-color: #f8f8f8;
    --gray-color: #909090;
    --link-color: 
}