.expertise-bg-overlay{z-index: 0; object-fit: contain; background-image: linear-gradient(0deg,rgba(0,0,0,.45) 100%,rgba(0, 0, 0, 0.37) 18%);}
.expertise-head{color: var(--white);}
.expertise-head h2{margin-bottom: 14px; color: var(--white);}
.expertise-head p{opacity: 0.9;} 

.expertise-row{color: var(--white);}
.expertise-row::before{width: 500%; height: 1px; top: 0; left: -100%; opacity: 0.21; background-color: var(--white); content: ""; display: block; position: absolute;}
.expertise-list{opacity: 0.5; transition: all 0.45s ease-in-out;} 
.expertise-list p{font-size: 14px;}
.expertise-list:hover{opacity: 1;}
.expertise-icon{display: block; text-align: center; font-size: 27px; margin-bottom: 5px;}
.expertise-text{font-size: 14px; line-height: 18px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .expertise-main{max-width: 507px; padding: 270px 0 178px;}
    .expertise-row{gap: 56px; padding: 33px 0;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .expertise-main{padding: 100px 0 80px;}

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .expertise-main{padding: 40px 0 50px;}
    .expertise-row{gap: 30px; padding: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .expertise-wrap{padding: 238px 0 22px;}
    .expertise-main{margin-bottom: 109px;}
    .expertise-slider.slick-slider{width: calc(100% + 40px); left: -20px; padding: 20px 0 0;}
    .expertise-slider .slick-slide{margin: 0 8px; text-align: center;}
    .expertise-slider .slick-current{opacity: 1;}
    .expertise-slider ul.slick-dots{padding-top: 17px; position: static;}
}