.financial-section{background-color: var(--dark-blue); z-index: 1; overflow: hidden; margin-top: -1px;}
.financial-pattern-bg{background-repeat: no-repeat; background-size: contain; background-position: center bottom;}
.financial-wrap{padding: 117px 0 137px;}
.financial-row{z-index: 1;}
.financial-head{color: var(--white); margin-bottom: 122px;}
.financial-head h2{color: var(--white); margin-bottom: 21px;}
.financial-icon{margin-bottom: 30px;}
.financial-desc{padding: 18px 14px 54px 28px; font-size: 1rem; line-height: 22.4px; background-color: var(--white); }
.financial-desc h3{margin-bottom: 8px; font-size: 26px;}
.financial-desc p{margin-bottom: 20px;}
.financial-svg path{
    stroke: var(--white);
    stroke-width: 1px;
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation: animateLine 5s linear infinite;
}
@keyframes animateLine {
    0% { stroke-dashoffset: 500;}
    100% { stroke-dashoffset: 0;}
}
.financial-list{background-color: var(--white); position: relative; overflow: hidden;}
.financial-image{overflow: hidden;}
.financial-thumb{transition: all 0.45s ease-in-out;}
.financial-desc{transition: all 0.45s ease-in-out;}
.financial-list:hover .financial-thumb{transform: scale(1.5);}
.financial-list:hover .financial-desc{transform: scale(0.95);}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .financial-pattern-bg{background-image: url("./images/pattern-bg.svg"); top: 33px; left: -27px;}
}
@media only screen and (min-width: 1024px){
    .financial-head{max-width: 795px;}
    .financial-row{gap: 19px;}
    .financial-list{flex: 0 0 calc(33.33% - 13px);}
    
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .financial-list{flex: 0 0 calc(33.33% - 13px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .financial-row{gap: 19px}
    .financial-list{flex: 0 0 calc(50% - 10px);}
    .financial-head{max-width: 550px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .financial-pattern-bg{width: 390px; height: 1137px; left: -20px; top: -170px; opacity: 0.05; background-image: url("./images/pattern-bg-mobile.svg"); background-position: center top; background-size: cover;}
    .financial-wrap{padding: 55px 0 0;}
    .financial-head{margin-bottom: 37px; padding: 0 7px;}
    .financial-main{padding-bottom: 64px;}
    .financial-main::after{content: ""; display: block; position: absolute; width: 390px; height: 1137px; bottom: -171px; left: -34px; background-image: url("./images/pattern-bg-mobile.svg"); z-index: -1;  opacity: 0.05; } 
    .financial-row{display: block;}
    .financial-list{margin-bottom: 20px;}
    .financial-list:nth-child(n+5){display: none;}
    .financial-more-btn{width: 100%;}
    .financial-desc{padding: 22px 22px 37px;}
    .financial-desc h3{font-size: 24px; line-height: 28px; margin-bottom: 15px;}
    .financial-desc p{margin-bottom: 27px;}
    .financial-button{margin-top: 32px;}
}