
.main-header{top: 0; left: 0; width: 100%; height: auto; position: fixed; z-index: 850; transition: all 1s ease;}
.main-header::after{width: 100%; height: 100%; top: 0; left: 0; transform: translateY(-100%); transition: all 0.45s ease-in-out; background-color: var(--white); box-shadow: 0 0 2px var(--light-gray-color); content: ""; display: block; position: absolute; z-index: -1;}
.logo a{width: 100%; display: block; position: relative;}
.logo-dark{top: 0; left: 0; opacity: 0; position: absolute;}
.fixed-header::after{transform: translateY(0);}
.fixed-header .logo-dark{opacity: 1; transition: all 1s ease;}
.sticky-header .logo-dark{opacity: 1;}
.sticky-header::after{transform: translateY(0);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .header{transition: padding 0.45s ease-in-out; padding: 11px 0 0; gap: 21px; }
    .fixed-header .header{padding: 2px 0 6px;}
    .logo{flex: 0 0 189px; min-height: 42px; position: relative;}
    .logo img{width: 100%; object-fit: contain;}
    .navigation{flex: 0 0 calc(100% - 210px); padding-right: 4px;}
    ul.main-menu{margin: 0; padding-top: 23px; gap: 42px; flex: 1; justify-content: flex-end;}
    ul.main-menu li::before{display: none;}
    ul.main-menu > li{margin: 0;}
    ul.main-menu > li:nth-child(2n+1){padding-left: 12px;}
    ul.main-menu > li > a{padding: 0 0 13px; color: var(--white-60); font-size: 16px; line-height: 22px; font-family: 'lexend', sans-serif; display: inline-block; position: relative;} 
    ul.main-menu > li:hover > a, ul.main-menu > li > a:hover{color: var(--white);}
    ul.main-menu > li > a::before, ul.main-menu > li > a::after, ul.main-menu > li.current_page_parent > a::before,  ul.main-menu > li.current_page_parent > a::after,  ul.main-menu > li.current_page_item > a::before, ul.main-menu > li.current_page_item > a::after{width: 0%; height: 2px; bottom: 0; left: 0; background-color: var(--white); content: ""; display: block; position: absolute; transition: width 0.45s ease-in-out;}
    .fixed-header ul.main-menu > li > a::before, .fixed-header ul.main-menu > li > a::after, .fixed-header ul.main-menu > li.current_page_parent > a::before,  .fixed-header ul.main-menu > li.current_page_parent > a::after{background-color: var(--blue-color);}
    ul.main-menu > li > a::after, ul.main-menu > li.current_page_parent > a::after{left: auto; right: 0;}
    ul.main-menu > li:hover > a::before, ul.main-menu > li:hover > a::after, ul.main-menu > li > a:hover::before, ul.main-menu > li > a:hover::after, ul.main-menu > li.current_page_parent > a::before, ul.main-menu > li.current_page_parent > a::after{width: 50%;}
    ul.main-menu > li.current_page_parent > a, ul.main-menu > li.current_page_item > a{color: var(--white); padding-bottom: 13px;}
    ul.main-menu > li.current_page_parent > a::before, ul.main-menu > li.current_page_item > a::before, ul.main-menu > li.current_page_item > a::after, ul.main-menu > li.current_page_parent > a::after{background-color: var(--white); width: 100%; height: 2px;}
    ul.main-menu > li > ul{margin:0; position: absolute; background-color: var(--white); width: 199px; visibility: hidden; opacity: 0;}
    ul.main-menu > li > ul > li{margin: 0;}
    ul.main-menu > li > ul > li > a{padding: 15px 26px; font-size: 14px; line-height: 24px; color:  #091735; font-family: 'lexend',sanserif; font-weight: 500; display: block;}
    ul.main-menu > li > ul > li:hover{background-color: #ebebeb;}
    ul.main-menu > li:hover > ul{visibility: visible; opacity: 1;}
    
    .fixed-header ul.main-menu{padding-top: 17px;}
    .fixed-header ul.main-menu > li > a{color: var(--dark-blue);}
    .fixed-header ul.main-menu > li > a:hover, .fixed-header ul.main-menu > li.current_page_parent > a, .fixed-header ul.main-menu > li.current_page_item > a{color: var(--blue-color);}
    .fixed-header ul.main-menu > li.current_page_item > a::after, .fixed-header ul.main-menu > li.current_page_item > a::before, .fixed-header ul.main-menu > li.current_page_parent > a::after, .fixed-header ul.main-menu > li.current_page_parent > a::before{background-color: var(--blue-color);}
    .toggle_icon{display: none;}

      
    .sticky-header ul.main-menu > li > a{color: var(--dark-blue);}
    .sticky-header ul.main-menu > li > a:hover, .sticky-header ul.main-menu > li.current_page_parent > a, .sticky-header ul.main-menu > li.current_page_item > a{color: var(--blue-color);}
    .sticky-header ul.main-menu > li.current_page_item > a::after, .sticky-header ul.main-menu > li.current_page_item > a::before, .sticky-header ul.main-menu > li.current_page_parent > a::after, .fixed-header ul.main-menu > li.current_page_parent > a::before{background-color: var(--blue-color);}
    .sticky-header ul.main-menu > li > a::before, .sticky-header ul.main-menu > li > a::after, .sticky-header ul.main-menu > li.current_page_parent > a::before,  .sticky-header ul.main-menu > li.current_page_parent > a::after{background-color: var(--blue-color);}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    header.nav-open{background-color: var(--white);}
    .header{padding: 17px 0 17px; display: block; position: relative;}
    .logo{width: 180px;}
    .nav-open .logo-white{opacity: 0;}
    .nav-open .logo-dark{opacity: 1;}
    .toggle_icon{width: 30px; right: 0; top: 26px; cursor: pointer; font-size: 2rem; line-height: 2rem; transition: all 0.45s ease; position: absolute;}
    .toggle_icon span.line{width: 30px; height: 2px; margin-left: auto; border-radius: 0; background-color: var(--white); display: block;}
    .toggle_icon span.line2{margin-top: 7px;}
    .toggle_icon span.line3{margin-top: 7px}
    .toggle_icon.open span.line{width: 28px; margin: 5px auto; transform: rotate(45deg) translate(5px, 5px); background-color: var(--dark-purple); transition: all 0.45s ease-in-out;}
    .toggle_icon.open span.line2{opacity: 0;}
    .toggle_icon.open span.line3{transform: rotate(-45deg) translate(5px, -5px);}
    .fixed-header .toggle_icon span.line{background-color: var(--dark-purple);}

    .navigation{width: 100%; height: 100vh; min-height: 100vh; top: 0; left: -100%; padding: 129px 20px 100px; margin-top: 74px; background-color: var(--dark-blue); background-image: url("./images/menu-bg2@2x.jpg"); background-repeat: no-repeat; background-size: cover; position: fixed; overflow-y: auto; -webkit-overflow-scrolling: touch; transition: all 1s ease;}
    .navigation::before{content: ""; position: absolute; width: 100%; height: 100vh; background-color: #091735; top: 0; left: 0; opacity: .78;}
    .navigation.open{left: 0;}
    ul.main-menu{display: block; margin: 0; text-align: center;}
    ul.main-menu li::before{display: none;}
    ul.main-menu > li{margin: 0 0 48px;}
    ul.main-menu > li > a{color: var(--white); font-size: 32px; line-height: 38px; font-family: 'lexend', sans-serif; display: inline-block; position: relative;}
    ul.main-menu > li.sib > a{color: var(--white-50);}
    ul.main-menu > li > a.active{color: var(--blue-color);}
    ul.main-menu > li.menu-item-has-children > a::after{right: -25px; top: calc(50% + 5px); transform: translateY(-50%); content: "\f107"; font-size: 16px; font-weight: 900; display: block; font-family: "Font Awesome 6 Sharp"; position: absolute; line-height: 0; transition: all .5s ease; }
    ul.main-menu > li.menu-item-has-children > a.active::after{top: calc(50% + 2px); transform: rotate(180deg);}
    ul.main-menu > li > ul{display: none; margin: 0; padding: 24px 0 0;}
    ul.main-menu > li > ul > li{margin: 0 0 18px;}
    ul.main-menu > li > ul > li:last-child{margin-bottom: 0;}
    ul.main-menu > li > ul > li > a{color: var(--white); display: inline-block; font-size: 21px; line-height: 24px; font-weight: 500; font-family: 'lexend', sans-serif; position: relative;}
    ul.main-menu > li > ul > li > a::after{right: -22px; top: calc(50% + 2.5px); transform: translateY(-50%); content: "\f061"; font-size: 14px; font-weight: 900; display: block; font-family: "Font Awesome 6 Sharp"; position: absolute;}
}





























