
.main-header{top: 0; left: 0; width: 100%; height: auto; position: fixed; z-index: 850; background-color: rgba(9, 23, 53, 0.83); padding-top: 28px;}
.logo a{width: 100%; display: block;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .header{transition: padding 0.45s ease-in-out;}
    .logo{flex: 0 0 189px; min-height: 42px; z-index: 1;}
    .logo a{width: 100%; height: auto; display: block;}
    .logo img{width: 100%; object-fit: contain;}
    .navigation{flex: 1; gap: 63px;}
    ul.main-menu{margin: 0; gap: 63px;  flex: 1; justify-content: flex-end;}
    ul.main-menu > li{margin: 0; padding: 11px 0 11px;}
    ul.main-menu > li > a{color: var(--white); font-size: 16px; line-height: 22px; font-weight: 500; font-family: 'lexend', sans-serif; opacity: 0.6; display: inline-block; position: relative;} 
    ul.sub-menu > li > a{display: none;}
    ul.main-menu > li > a::after{width: 0%; height: 2px; bottom: 0; left: 0; background-color: var(--white); content: ""; display: block; position: absolute; transition: width 0.45s ease-in-out;}
    ul.main-menu > li > a:hover{color: #00add8;}
    ul.main-menu > li:hover > ul.sub-menu > li > a{display: block; background-color: var(--white); color: #091735;}   
}































