.home-banner-bg{clip-path: polygon(100% 0, 100% 84%, 47% 100%, 0 84%, 0 0);}
.home-banner-pos{left: 0; right: 0; top: 48%; transform: translateY(-52%); width: 100%; position: absolute;}
.home-banner-text{color: var(--white); text-align: center;}
.home-banner-text span{font-size: 20px; line-height:24px; font-family: 'lexend',sansserif; font-weight: 400; margin-bottom: 18px; display: block;}
.home-banner-text h1{line-height: normal; letter-spacing: normal; font-family: 'lexend',sans-serif; font-weight: 500; margin-bottom: 31px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .home-banner-main{width: 732px;}
}
