
.join-team-section{z-index: 1;}
.join-team-wrap{padding: 138px 0;}
.join-team-bg{z-index: 0;}
.join-team-text{color: var(--white);}
.join-team-text span.optional-text{margin-bottom: 10px;}
.join-team-text h3{color: var(--white); margin-bottom: 18px;}

.join-team-main{overflow: hidden;}
.join-team-image{transition: all .5s ease; }
.join-team-main:hover .join-team-image{transform: scale(1.1);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .background-pattern{width: 100%; height: 100%; background-image: url("images/background-pattern.svg"); background-repeat: no-repeat; background-size: cover;}
    .join-team-bg{background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.52) 51%, rgba(0, 0, 0, 0.85) 100%);}
    .join-team-pos{padding: 76px 117px; align-items: flex-end;}
    .join-team-text{max-width: 522px;}

    .join-team-thumb{max-height: 656px;}
    .join-team-main.no-join-team-image{min-height: 656px; background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.52) 51%,rgba(0,0,0,.85) 100%);}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .join-team-wrap{padding: 50px 0;}
    .join-team-text{padding: 24px 24px 32px; margin-top: auto;}
    .join-team-bg{background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.52) 51%, rgba(0, 0, 0, 0.85) 100%);}

    .join-team-thumb{max-height: 386px;}
    .join-team-main.no-join-team-image{min-height: 386px; background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.52) 51%,rgba(0,0,0,.85) 100%);}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .join-team-wrap{padding: 21px 0 64px;}
    .join-team-text{padding: 24px 24px 32px; margin-top: auto;}
    .join-team-bg{background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.52) 51%, rgba(0, 0, 0, 0.85) 100%);}
    .join-team-thumb img{max-height: 603px;}

    .join-team-text h3{margin-bottom: 12px;}
    .join-team-main.no-join-team-image{min-height: 603px; background-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(0,0,0,.52) 51%,rgba(0,0,0,.85) 100%);}
}