.leadership-overlay-bg{max-height: 470px; clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);}
.leadership-overlay{z-index: 0; object-fit:contain; background-image: linear-gradient(0deg, rgba(9, 23, 53, 0.83) 0%, rgba(9, 23, 53, 0.83) 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);}
.leadership-banner-main{padding-top: 125px; position: relative; z-index: 1;}
.leadership-banner-text{color: var(--white); font-size: 20px; line-height: 24px;}
.leadership-banner-text h1{color: var(--white); margin-bottom: 18px;}
.leadership-banner-text p:not(:last-child){margin-bottom: 4px;}
.leadership-banner-text span:not(p span){color: var(--blue-color); font-size: 18px; line-height: 27.5px;}
.leadership-banner-thumb img{clip-path: polygon(0 12%, 100% 0, 100% 88%, 0% 100%);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .leadership-banner-main{gap: 0 232px;}
    .leadership-banner-text{flex: 0 0 calc(100% - 582px); padding-top: 52px;}
    .leadership-banner-image{flex: 0 0 350px;}
    .leadership-banner-thumb img{max-height: 415px; min-height: 415px; overflow: hidden;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .leadership-banner-main{gap: 0 100px; padding-top: 75px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .leadership-banner-main{display: block;}
    .leadership-banner-image { max-width: 234px; margin: 0 auto; }
    .leadership-banner-text{padding: 0; text-align: center; margin-bottom: 50px;}
    .leadership-banner-text h1{font-size: 36px; margin-bottom: 9px;}
    .leadership-banner-text p{margin-bottom: 8px;}
}