







.optional-team-pattern{content: ""; position: absolute; bottom: -886px; left: -85px; width: 1770px; height: 1091px; background-image: url("./images/white-pattern-large.svg"); background-size: cover; background-repeat: no-repeat; z-index: -1; opacity: .3;}
.optional-team-main{padding: 87px 0 92px;}
.optional-team-main h2{margin-bottom: 63px;}
.optional-team-icon img{max-width: 35px; max-height: 35px; object-fit: contain; margin-bottom: 16px;}



/* Media query */
@media screen and (min-width: 1024px) {
    .optional-team-lists{gap: 33px 66px;}
    .optional-team-list{flex: 0 0 calc(25% - 50px)}
}
@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .optional-team-lists{gap: 30px;}
    .optional-team-list { flex: 0 0 calc(25% - 23px); }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .optional-team-slider .slick-list{overflow: visible;}
    .optional-team-slider .slick-slide{width: 260px; margin: 0 auto; text-align: center;}
    .optional-team-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .optional-team-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .optional-team-slider ul.slick-dots li button{border: solid 1px var(--text-color);}
    .optional-team-icon img{margin: 0 auto 16px;}
}
@media screen and (max-width: 767px) and (min-width: 200px) {
    .optional-team-pattern{bottom: -266px; left: -96px; width: 693px; height: 427px;}
    .optional-team-main{padding: 193px 0 45px;}
    .optional-team-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .optional-team-item span{margin-bottom: 20px;}
    .optional-team-item h5{margin-bottom: 10px;}
    .optional-team-item{text-align: center; width: 250px; margin: 0 30px;}

    .optional-team-icon img{margin: 0 auto 16px;}

    .optional-team-slider .slick-list{overflow: visible;}
    .optional-team-slider .slick-slide{width: 260px; margin: 0 auto; text-align: center;}
    .optional-team-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .optional-team-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .optional-team-slider ul.slick-dots li button{border: solid 1px var(--text-color);}
}