
.optional-repeater-main{padding: 135px 0 130.5px;}
.optional-repeater-text{color: var(--dark-blue-80);}
.optional-repeater-text h3{color: var(--dark-blue);}
.optional-repeater-text .button{margin-top: 3px;}

.optional-revert{flex-direction: row-reverse;}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    .optional-repeater-text h3{font-size: 30px; line-height: 37px; max-width: 428px; margin-bottom: 18px;}
}
@media only screen and (min-width: 1300px){
    .optional-repeater-main{gap: 51px 102px; flex-wrap: nowrap;}
    .optional-repeater-image{flex: 0 0 calc(100% - 612px); min-width: 790px; margin-left: -200px;}
    .optional-repeater-text{flex: 0 0 510px;}

    .optional-revert .optional-repeater-image{margin-left: 0;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .optional-repeater-main{gap: 26px 51px;}
    .optional-repeater-image{flex: 0 0 calc(100% - 461px); max-width: 790px; margin-left: -30px;}
    .optional-repeater-text{flex: 0 0 410px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .optional-repeater-main{display: block; padding: 80px 0 80px;}
    .optional-repeater-image{margin-bottom: 52px;}
    .optional-repeater-image img{max-height: 488px; overflow: hidden;}
    .optional-repeater-text h3{max-width: 100%;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .optional-repeater-main{display: block; padding: 30px 0 65px;}
    .optional-repeater-image img{max-height: 488px; overflow: hidden;}
    .optional-repeater-text{padding-top: 64px;}
    .optional-repeater-text  span.optional-text{margin-bottom: 13px;}
    .optional-repeater-text h3{max-width: 100%;}
}