.short-intro-main{padding: 76px 0 116px;}
.short-intro-text h2{margin-bottom: 28px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .short-intro-main{max-width: 794px;}

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .short-intro-main{padding: 50px 0;}

}