
.sparta-section{overflow: hidden;}
.sparta-thumb{position: relative; z-index: -1;}
.sparta-overlay{background-color: var(--black); opacity: 0.4;}
.sparta-gradient{background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);}
.sparta-text{color: var(--white-80);}
.sparta-icon{margin-bottom: 39px; max-width: 161px;}
.sparta-icon img{width: 100%; object-fit: cover;}
.sparta-text .button{margin-top: 4px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .sparta-main{max-width: 600px; padding: 112px 0 115px;}
    .sparta-bg{min-height: 547px;}
    .sparta-thumb img {min-height: 547px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .sparta-bg{min-height: 509px;}
    .sparta-thumb img {min-height: 509px;}
    .sparta-overlay{display: none;}
    .sparta-gradient{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(89deg, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.3) 75%);}
    .sparta-icon{margin-bottom: 19px;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .sparta-bg{min-height: 509px;}
    .sparta-thumb img{max-height: 509px;}
    .sparta-overlay{display: none;}
    .sparta-gradient{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(89deg, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.3) 75%);}
    .sparta-icon{margin-bottom: 19px;}
}
