
.sparta-text{color: var(--white);}
.sparta-icon{margin: 0 auto 39px; max-width: 161px;}
.sparta-text p{margin-bottom: 34px; opacity: 0.8}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .sparta-main{max-width: 600px;}
}
