
.post-banner-section{background: var(--dark-blue); min-height: 556px;}
.post-banner-location{color: var(--white); margin-bottom: 12px;}
.post-banner-location span{padding: 0 8px; border-left: 1px solid var(--white); font-size: 1.25rem; line-height: 1.25rem;}
.post-banner-location span:first-child{padding-left: 0; border-left: none;}
.post-banner-desc h1{color: var(--white); margin-bottom: 17.9px;}
.post-banner-desc > span{color: var(--white); line-height: 1.531rem;}
.post-banner-thumb{position: absolute; clip-path: polygon(0 0, 100% 0%, 100% 100%, 11.5% 100%);}
.post-banner-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.32) 28%); z-index: 1;}
.post-banner-thumb img{max-width: 882px;}

.post-content-section{overflow: hidden;}
.post-pattern-bg{top: -150px; left: -255px; width: 739px; height: 606px; opacity: .03; background-image: url("./images/pattern-block-black.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; position: absolute;}
.post-content-main{padding: 128px 0 125px;}
.post-flex-main{padding: 53px 0 87px;}

.post-video-section{background-color: var(--dark-blue); color: var(--white-90);}
.post-video-thumb figure::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); z-index: 1;}
.post-video-thumb{margin-bottom: 71px;}
.post-video-text h1, .post-video-text h2, .post-video-text h3, .post-video-text h4, .post-video-text h5, .post-video-text h6{color: var(--white);}
.post-video-text ul li a, .post-video-text ol li a{color: var(--blue-color);}
.post-video-text ul li a:hover, .post-video-text ol li a:hover{color: var(--white);}
.post-video-text p a{color: var(--blue-color);}
.post-video-text p a:hover{color: var(--white);}
.post-video-main table, th, td {border: 1px solid rgba(255, 255, 255, 0.3);}
.post-video-main table th{background-color: var(--gray-color);}


/* Media Query */
@media screen and (min-width: 1024px) {
    .post-banner-text{flex: 0 0 43%; padding: 183px 0 80px;}
    .post-banner-desc{max-width: 460px;}
    .post-banner-image{flex: 0 0 calc(100% - 43%);}

    .post-flex-text{flex: 0 0 510px; margin-right: 102px;}
    .post-flex-image{flex: 0 0 calc(100% - 612px);}

    .post-video-main{padding: 131px 0 112px; max-width: 1040px; margin: 0 auto;}
    .post-career-wrap{padding: 105px 0;}
    .page-template-careers .post-career-wrap{padding: 65px 0;}
    .single-career img.alignright{margin: 15px 0 25px 90px;}
    .single-career .alignright{max-width: 428px;}
    .post-content-main h2{margin-bottom: 20px;}
    .single-career .post-video-text .button{margin-top: 2px;}

}
@media screen and (max-width: 1023px) and (min-width: 768px) {
    .post-banner-section{min-height: 727px;}
    .post-banner-text{padding-top: 123px;}
    .post-banner-location{justify-content: center;}
    .post-banner-desc{text-align: center; width: 100%;}
    .post-banner-desc h1{font-size: 2.25rem; line-height: normal; margin-bottom: 14px;}
    .post-banner-image{width: 100%; position: absolute; left: 0; bottom: 0;}
    .post-banner-thumb{position: relative; clip-path: polygon(0 23%,100% 0%,100% 100%, 0 100%);}
    .post-banner-thumb img{max-width: 100%; max-height: 392px;}

    .post-content-main{padding: 64px 0 26px;}
    .post-flex-main{padding: 4px 0 42px;}

    .post-video-main{padding: 63px 0;}
    .post-video-thumb{margin-bottom: 24px;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .post-banner-section{min-height: 727px;}
    .post-banner-text{padding-top: 123px;}
    .post-banner-location{justify-content: center;}
    .post-banner-desc{text-align: center; width: 100%;}
    .post-banner-desc h1{font-size: 2.25rem; line-height: normal; margin-bottom: 14px;}
    .post-banner-image{width: 100%; position: absolute; left: 0; bottom: 0;}
    .post-banner-thumb{position: relative; clip-path: polygon(0 23%,100% 0%,100% 100%, 0 100%);}
    .post-banner-thumb img{max-width: 100%; max-height: 392px;}

    .post-pattern-bg{width: 503px; height: 412px; top: -10px; left: -231px;}
    .post-content-main{padding: 64px 0 26px;}
    .post-content-main h2{font-size: 1.875rem; line-height: normal; margin-bottom: 16px;}
    .post-flex-main{padding: 4px 0 42px;}
    .post-flex-text h3{font-size: 1.625rem; line-height: normal; margin-bottom: 24px;}

    .post-video-main{padding: 63px 0;}
    .post-video-thumb{margin-bottom: 24px;}
    .play-btn-main .play-btn{width: 50px; height: 50px;}
    .post-video-main .button{margin-top: 8px;}
}