@import url("../css/_full-slider-module.css");
@import url("../css/_cta-panel-module.css");

/* Careers banner section */
.career-banner-section{background-color: var(--blue-color); overflow: hidden;}
.career-banner-main{padding: 125px 0 108px; max-width: 968px; margin: 0 auto; z-index: 1;}
.career-banner-main::before{content: ""; position: absolute; background-image: url("/images/pattern-white@2x.svg"); width: 726px; height: 597.5px; left: -546px; top: 109px; z-index: -1;}
.career-banner-main::after{content: ""; position: absolute; background-image: url("/images/pattern-white@2x.svg"); width: 726px; height: 597.5px; right: -632px; top: 110px; z-index: -1;}
.career-banner-text{color: var(--white);}
.career-banner-text h1{color: var(--white); margin-bottom: 21px;}
.outline-btn{padding: 9px 41px 8px 34px; border: solid 1px var(--white); color: var(--white); font-family: Lexend; font-size: .875rem; font-weight: 500; display: inline-block;}
.outline-btn:hover{background-color: var(--purple-color); border-color: var(--purple-color); color: var(--white);}
.career-banner-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: #57c6e2; left: 28px; top: 24px; clip-path: polygon(0 13%,100% 0%,100% 87%,0% 100%);}
.career-banner-thumb img{clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0% 100%); min-height: 415px; max-height: 415px;}

.our-team-section::before{content: ""; position: absolute; width: 100%; height: 218px; background-image: url("/images/white-pattern-big.svg"); background-size: cover; bottom: 0; z-index: -1;}
.our-team-main{padding: 90px 0;}
.our-team-main h2{font-size: 2.125rem; font-weight: 500; text-align: center; margin-bottom: 63px;}
.our-team-lists{justify-content: space-between;}
.our-team-item span{font-size: 2rem; margin-bottom: 16px;}

.career-feature-section{background-color: #091735;}
.career-feature-main{padding: 176px 0 157px; z-index: 1;}
.career-feature-main::before{content: ""; position: absolute; width: 1026px; height: 662px; background-image: url("/images/logo-symbol.svg"); right: -550px; top: -53px; z-index: -1;}
.career-feature-list{margin-bottom: 127px;}
.career-feature-list:last-child{margin-bottom: 0;}
.career-feature-list.reverse{flex-direction: row-reverse;}
.career-feature-list.reverse .career-feature-text{margin: 0 0 0 94px;}
.career-feature-text h3{font-size: 1.875rem; color: var(--white); font-weight: 500;}
.career-feature-text p{color: var(--white-80);}

.testimonial-module{background-color: #f6f6f6; padding: 139px 0 129px;}
.testimonial-module ul.slick-dots li button{border: solid 1px #1f1f1f;}
.testimonial-module ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
.testimonial-img img{border-radius: 50%;}
.testimonial-content img{position: absolute; top: 0; left: 0;}
.testimonial-content p{font-size: 1.25rem; opacity: 0.9; line-height: 1.913rem; margin-bottom: 30px;}
.author-info p{font-size: 1.125rem; font-weight: 600; margin-bottom: 0; line-height: 1.531rem;}

.perks-main{padding: 90px 0;}
.perks-main h2{font-size: 2.125rem; font-weight: 500; text-align: center; margin-bottom: 63px;}
.perks-lists{justify-content: space-between;}
.perks-item span{font-size: 2rem; margin-bottom: 16px;}


/* Media query */
@media screen and (min-width: 1024px) {
    .career-banner-text{flex: 0 0 580px; margin-right: 42px;}
    .career-banner-image{flex: 0 0 calc(100% - 622px);}

    .our-team-item{flex: 0 0 17.1%;}

    .career-feature-main{max-width: 1110px; margin: 0 auto;}
    .career-feature-text{flex: 0 0 428px; margin-right: 94px;}
    .career-feature-image{flex: 0 0 calc(100% - 522px);}

    .testimonial-slider{max-width: 1174px; margin: 0 auto;}
    .testimonial-slider-nav{width: 300px; margin-right: 86px; padding-left: 128px;}
    .testimonial-slider-nav ul.slick-dots{padding-top: 0; flex-direction: column; width: 20px; position: absolute; left: 0; top: 0; align-items: stretch; height: 100%; margin: 0; }
    .testimonial-slider-nav ul.slick-dots li{line-height: 0;}
    .testimonial-thumb{width: 172px;}
    .testimonial-slider-for.thumb-text{width: calc( 100% - 386px);}
    .testimonial-content{padding: 27px 0 0 28px;}

    .perks-item{flex: 0 0 17.1%;}
    
    
}

@media screen and (max-width: 1023px) and (min-width: 768px) {

    .career-banner-text{margin-bottom: 37px;}

    .our-team-item{text-align: center; width: 250px; margin: 0 30px;}
    .team-slider .slick-list{overflow: visible;}
    .team-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .team-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .team-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    .career-feature-main{padding: 64px 0 66px;}
    .career-feature-main::before{display: none;}
    .career-feature-list, .career-feature-list.reverse{flex-direction: column-reverse; margin-bottom: 63px;}
    .career-feature-list:last-child{margin-bottom: 0;}
    .career-feature-list.reverse .career-feature-text{margin: 0;}
    .career-feature-image{margin-bottom: 20px;}
    .career-feature-text h3{font-size: 1.625rem; margin-bottom: 13px;}

    .perks-main{padding: 43px 0 45px;}
    .perks-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .perks-item span{margin-bottom: 12px;}
    .perks-item h5{margin-bottom: 20px;}
    .perks-item{text-align: center; width: 250px; margin: 0 30px;}
    .perks-slider .slick-list{overflow: visible;}
    .perks-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .perks-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .perks-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .career-banner-section{overflow: inherit;}
    .career-banner-main{padding: 125px 0 266px;}
    .career-banner-main{max-width: 100%; flex-direction: column;}
    .career-banner-text{text-align: center; margin-bottom: 37px;}
    .career-banner-text h1{margin-bottom: 14px; font-size: 2.25rem; line-height: normal;}
    .career-banner-text p{line-height: 1.531rem; max-width: 344px; margin: 0 auto 23px;}
    .career-banner-image{position: absolute; bottom: -123px; left: 0;}
    .career-banner-thumb::before{left: 26px; top: 22px;}
    .career-banner-thumb img{min-height: 388px; max-width: 325px;}

    .our-team-main{padding: 193px 0 45px;}
    .our-team-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .our-team-item span{margin-bottom: 20px;}
    .our-team-item h5{margin-bottom: 10px;}
    .our-team-item{text-align: center; width: 250px; margin: 0 30px;}
    .team-slider .slick-list{overflow: visible;}
    .team-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .team-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .team-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    .career-feature-main{padding: 64px 0 66px;}
    .career-feature-main::before{display: none;}
    .career-feature-list, .career-feature-list.reverse{flex-direction: column-reverse; margin-bottom: 63px;}
    .career-feature-list:last-child{margin-bottom: 0;}
    .career-feature-list.reverse .career-feature-text{margin: 0;}
    .career-feature-image{margin-bottom: 20px;}
    .career-feature-text h3{font-size: 1.625rem; margin-bottom: 13px;}

    .testimonial-slider-nav{width: 100%;}
    .testimonial-slider-nav .slick-list{overflow: visible;}
    .testimonial-img{width: 132px; margin: 0 58px;}
    .testimonial-slider-for{width: 100%;}
    .testimonial-slider-for .slick-list{overflow: visible;}
    .testimonial-slider-for .slick-arrow{width: 40px; height: 49px; font-size: 1.5rem;}

    .perks-main{padding: 43px 0 45px;}
    .perks-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .perks-item span{margin-bottom: 12px;}
    .perks-item h5{margin-bottom: 20px;}
    .perks-item{text-align: center; width: 250px; margin: 0 30px;}
    .perks-slider .slick-list{overflow: visible;}
    .perks-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .perks-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .perks-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    
}