
/* Careers banner section */
.career-banner-section{background-color: var(--blue-color); overflow: hidden;}
.career-banner-main{padding: 125px 0 108px; max-width: 968px; margin: 0 auto; z-index: 1;}
.career-banner-main::before{content: ""; position: absolute; background-image: url("/images/pattern-white@2x.svg"); width: 726px; height: 597.5px; left: -546px; top: 109px; z-index: -1;}
.career-banner-main::after{content: ""; position: absolute; background-image: url("/images/pattern-white@2x.svg"); width: 726px; height: 597.5px; right: -632px; top: 110px; z-index: -1;}
.career-banner-text{color: var(--white);}
.career-banner-text h1{color: var(--white); margin-bottom: 21px;}
.career-banner-thumb::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: #57c6e2; left: 28px; top: 24px; clip-path: polygon(0 13%,100% 0%,100% 87%,0% 100%);}
.career-banner-thumb img{clip-path: polygon(0 13%, 100% 0%, 100% 87%, 0% 100%); min-height: 415px; max-height: 415px;}

.our-team-section::before{content: ""; position: absolute; width: 100%; height: 218px; background-image: url("/images/white-pattern-big.svg"); background-size: cover; bottom: 0; z-index: -1;}
.our-team-main{padding: 90px 0;}
.our-team-main h2{font-size: 2.125rem; font-weight: 500; text-align: center; margin-bottom: 63px;}
.our-team-lists{gap: 66px;}
.our-team-item span{font-size: 2rem; margin-bottom: 16px;}

.career-feature-section{background-color: #091735;}
.career-feature-main{padding: 176px 0 157px; z-index: 1;}
.career-feature-main::before{content: ""; position: absolute; width: 1026px; height: 662px; background-image: url("/images/logo-symbol.svg"); right: -550px; top: -53px; z-index: -1;}
.career-feature-list{margin-bottom: 127px;}
.career-feature-list:last-child{margin-bottom: 0;}
.career-feature-list.reverse{flex-direction: row-reverse;}
.career-feature-list.reverse .career-feature-text{margin: 0 0 0 94px;}
.career-feature-text h3{font-size: 1.875rem; color: var(--white); font-weight: 500;}
.career-feature-text p{color: var(--white-80);}

.testimonial-module{background-color: #f6f6f6; padding: 139px 0 129px;}
.testimonial-module ul.slick-dots li button{border: solid 1px var(--text-color);}
.testimonial-module ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
.testimonial-thumb img{border-radius: 50%;}
.testimonial-text p{margin-bottom: 30px;}
.testimonial-icon{width: 23px;}
.testimonial-icon img{width: 100%;}
.author-info p{font-size: 1.125rem; font-weight: 600; margin-bottom: 0; line-height: 1.531rem;}

.perks-main{padding: 90px 0;}
.perks-main h2{font-size: 2.125rem; font-weight: 500; text-align: center; margin-bottom: 63px;}
.perks-lists{gap: 66px;}
.perks-item span{font-size: 2rem; margin-bottom: 16px;}


/* Media query */
@media screen and (min-width: 1024px) {
    .career-banner-text{flex: 0 0 580px; margin-right: 42px;}
    .career-banner-image{flex: 0 0 calc(100% - 622px);}

    .our-team-main{max-width: 1013px; margin: 0 auto;}
    .our-team-item{flex: 0 0 calc(25% - 50px)}

    .career-feature-main{max-width: 1110px; margin: 0 auto;}
    .career-feature-text{flex: 0 0 428px; margin-right: 94px;}
    .career-feature-image{flex: 0 0 calc(100% - 522px);}

    .testimonial-slider{max-width: 1174px; margin: 0 auto;}
    .testimonial-slider-nav{width: 300px; margin-right: 86px; padding-left: 128px;}
    .testimonial-slider-nav ul.slick-dots{padding-top: 0; flex-direction: column; width: 20px; position: absolute; left: 0; top: 0; align-items: stretch; height: 100%; margin: 0; }
    .testimonial-slider-nav ul.slick-dots li{line-height: 0;}
    .testimonial-image-slide{width: 172px;}
    .testimonial-slider-for{width: calc( 100% - 386px);}
    .testimonial-text{padding: 27px 0 0 28px;}
    .testimonial-icon{top: 0; left: 0; position: absolute;}


    .perks-main{max-width: 1013px; margin: 0 auto;}
    .perks-item{flex: 0 0 calc(25% - 50px)}
    
    
}

@media screen and (max-width: 1023px) and (min-width: 768px) {

    .career-banner-text{margin-bottom: 37px;}

    .our-team-item{text-align: center; width: 250px; margin: 0 30px;}
    .team-slider .slick-list{overflow: visible;}
    .team-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .team-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .team-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    .career-feature-main{padding: 64px 0 66px;}
    .career-feature-main::before{display: none;}
    .career-feature-list, .career-feature-list.reverse{flex-direction: column-reverse; margin-bottom: 63px;}
    .career-feature-list:last-child{margin-bottom: 0;}
    .career-feature-list.reverse .career-feature-text{margin: 0;}
    .career-feature-image{margin-bottom: 20px;}
    .career-feature-text h3{font-size: 1.625rem; margin-bottom: 13px;}

    .perks-main{padding: 43px 0 45px;}
    .perks-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .perks-item span{margin-bottom: 12px;}
    .perks-item h5{margin-bottom: 20px;}
    .perks-item{text-align: center; width: 250px; margin: 0 30px;}
    .perks-slider .slick-list{overflow: visible;}
    .perks-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .perks-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .perks-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    .testimonial-module{padding: 86px 0 51px;}
    .testimonial-slider-nav{width: 100%; margin-bottom: 23px;}
    .testimonial-slider-nav .slick-list{overflow: visible;}
    .testimonial-image-slide{opacity: 0.5;}
    .testimonial-image-slide.slick-current{opacity: 1;}
    .testimonial-thumb{max-width: 132px; margin: 0 29px;}
    .testimonial-slider-for{width: 100%;}
    .testimonial-slider-for .slick-list{overflow: visible;}
    .testimonial-slider-for .slick-arrow{width: 40px; height: 49px; font-size: 1.5rem; right: -20px;}
    .testimonial-slider-for .slick-arrow.slick-prev{left: -20px;}
    .testimonial-slider-for .slick-arrow.slick-next{right: -20px;}
    .testimonial-text{font-size: 1rem; line-height: 24px; text-align: center; padding: 0 50px;}
    .testimonial-icon{margin: 0 auto 11px;}

}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .career-banner-section{overflow: inherit;}
    .career-banner-main{padding: 125px 0 266px;}
    .career-banner-main{max-width: 100%; flex-direction: column;}
    .career-banner-text{text-align: center; margin-bottom: 37px;}
    .career-banner-text h1{margin-bottom: 14px; font-size: 2.25rem; line-height: normal;}
    .career-banner-text p{line-height: 1.531rem; max-width: 344px; margin: 0 auto 23px;}
    .career-banner-image{position: absolute; bottom: -123px; left: 0;}
    .career-banner-thumb::before{left: 26px; top: 22px;}
    .career-banner-thumb img{min-height: 388px; max-width: 325px;}

    .our-team-main{padding: 193px 0 45px;}
    .our-team-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .our-team-item span{margin-bottom: 20px;}
    .our-team-item h5{margin-bottom: 10px;}
    .our-team-item{text-align: center; width: 250px; margin: 0 30px;}
    .team-slider .slick-list{overflow: visible;}
    .team-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .team-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .team-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    .career-feature-main{padding: 64px 0 66px;}
    .career-feature-main::before{display: none;}
    .career-feature-list, .career-feature-list.reverse{flex-direction: column-reverse; margin-bottom: 63px;}
    .career-feature-list:last-child{margin-bottom: 0;}
    .career-feature-list.reverse .career-feature-text{margin: 0;}
    .career-feature-image{margin-bottom: 20px;}
    .career-feature-text h3{font-size: 1.625rem; margin-bottom: 13px;}

    .testimonial-module{padding: 86px 0 51px;}
    .testimonial-slider-nav{width: 100%; margin-bottom: 23px;}
    .testimonial-slider-nav .slick-list{overflow: visible;}
    .testimonial-image-slide{opacity: 0.5;}
    .testimonial-image-slide.slick-current{opacity: 1;}
    .testimonial-thumb{max-width: 132px; margin: 0 29px;}
    .testimonial-slider-for{width: 100%;}
    .testimonial-slider-for .slick-list{overflow: visible;}
    .testimonial-slider-for .slick-arrow{width: 40px; height: 49px; font-size: 1.5rem; right: -20px;}
    .testimonial-slider-for .slick-arrow.slick-prev{left: -20px;}
    .testimonial-slider-for .slick-arrow.slick-next{right: -20px;}
    .testimonial-text{font-size: 1rem; line-height: 24px; text-align: center; padding: 0 50px;}
    .testimonial-icon{margin: 0 auto 11px;}

    .perks-main{padding: 43px 0 45px;}
    .perks-main h2{font-size: 1.875rem; margin-bottom: 27px;}
    .perks-item span{margin-bottom: 12px;}
    .perks-item h5{margin-bottom: 20px;}
    .perks-item{text-align: center; width: 250px; margin: 0 30px;}
    .perks-slider .slick-list{overflow: visible;}
    .perks-slider ul.slick-dots{position: relative; bottom: 0; margin-top: 24px;}
    .perks-slider ul.slick-dots li.slick-active button{border-color: var(--blue-color);}
    .perks-slider ul.slick-dots li button{border: solid 1px var(--text-color);}

    
}