
.contact-banner-section{background-color: var(--dark-blue);}
.contact-banner-overlay{width: 100%; height: 100%; background-color: rgba(9, 23, 53, 0.9); z-index: 0;}
.contact-logo-symbol{position: absolute; width: 1026px; height: 662px; background-image: url("images/logo-symbol.svg"); top: 34px; right: -331px; z-index: 1; opacity: .1;}
.contact-banner-bg{clip-path: polygon(100% 0,100% 84%,50% 100%,0 84%,0 0);}
.contact-banner-text h1{color: var(--white); margin-bottom: 21px;}
.contact-banner-text p{color: var(--white-90);}
.inquiries-main{margin: 32px 0 30px;}
.inquiries-main h2{font-size: 1.25rem; color: var(--white); line-height: normal; font-weight: normal; margin-bottom: 17px;}
ul.inquiries-phno{margin: 0; gap: 29px;}
ul.inquiries-phno li{margin: 0;}
ul.inquiries-phno li::before{display: none;}
ul.inquiries-phno li a{color: var(--white-90); display: flex; align-items: center;}
ul.inquiries-phno li a:hover{color: var(--blue-color);}
ul.inquiries-phno li a span{color: var(--blue-color); margin-right: 7px;}
.contact-sparta-main{padding-top: 30px; border-top: 1px solid #91a3ca;}
.contact-sparta-content span{font-size: 1.25rem; line-height: normal; font-weight: 400; font-family: "lexend", sans-serif; color: var(--blue-color); display: block; margin-bottom: 9px;}

.contact-location-shape{position: absolute; top: -165px; left: 0; width: 100%; height: 350px; background-color: var(--dark-blue); clip-path: polygon(100% 0,100% 57%,50% 100%,0 57%,0 0); z-index: -1;}
.contact-location-pattern{position: absolute; bottom: -589px; left: -85px; width: 1770px; height: 1091px; background-image: url("images/white-pattern-large.svg"); background-repeat: no-repeat; background-size: cover; opacity: .3; z-index: -1;}
.contact-loaction-heading{margin-bottom: 134px;}
.contact-loaction-heading h2{color: var(--white); margin-bottom: 0; line-height: normal;}
.contact-location-list{background-color: var(--white); box-shadow: 1px 3px 16px 0 rgba(0, 0, 0, 0.1);}
.contact-location-desc{padding: 21px 28px 18px 22px;}
.contact-location-desc h3{font-size: 1.625rem; line-height: normal; margin-bottom: 11px;}
ul.contact-links{margin: 0;}
ul.contact-links li::before{display: none;}
ul.contact-links li{margin-bottom: 13px;}
ul.contact-links li a{color: var(--black-90); display: flex; align-items: center; font-weight: normal;}
ul.contact-links li a:hover{color: var(--blue-color);}
ul.contact-links li a span{color: var(--blue-color); margin-right: 7px;}



@media screen and (min-width: 1024px) {
    .contact-banner-main{padding-top: 197px;}
    .contact-banner-text{flex: 0 0 520px; margin: 28px 190px 0 0;}
    .contact-form{flex: 0 0 calc(100% - 710px);}
    .contact-sparta-logo{flex: 0 0 135px; margin-right: 38px; padding-top: 12px;}
    .contact-sparta-content{flex: 0 0 calc(100% - 173px);}

    .contact-location-items{gap: 19px;}
    .contact-location-main{padding: 55px 0 84px;}
    .contact-location-list{flex: 0 0 calc(33.33% - 12.7px);}
    ul.contact-links{margin: -4px 0 0 0;}
}

@media screen and (max-width: 1399px) and (min-width: 1024px) {
    .contact-banner-text{margin: 28px 50px 0 0;}
    .contact-form{flex: 0 0 calc(100% - 578px);}
    .contact-banner-bg{min-height: 853px;}
    .contact-banner-thumb img{min-height: 853px;}
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .contact-banner-bg{clip-path: polygon(100% 0,100% 97%,50% 100%,0 97%,0 0);}
    .contact-banner-main{padding-top: 112px;}
    .contact-form{width: 100%;}
    .contact-banner-thumb img{min-height: 990px;}
    .contact-sparta-main{padding: 30px 0;}
    .contact-sparta-logo{flex: 0 0 135px; margin-right: 38px; padding-top: 12px;}
    .contact-sparta-content{flex: 0 0 calc(100% - 173px);}
    .contact-location-desc p{font-size: 0.938rem; line-height: 1.5rem;}
    .contact-location-desc p br{display: none;}
    .contact-logo-symbol{display: none;}

    .contact-location-shape{clip-path: polygon(100% 0,100% 87%,50% 100%,0 87%,0 0); height: 283px;}
    .contact-location-pattern{bottom: -589px; left: -85px;; width: 1198px; height: 739px;}
    .contact-location-main{padding: 31px 0 61px;}
    .contact-loaction-heading{margin-bottom: 80px;}
    .contact-location-items{gap: 20px;}
    .contact-location-list{flex:0 0 calc(33.33% - 14px);}
    .contact-location-desc{padding: 21px 28px 24px 23px;}
    .contact-location-desc h3{font-size: 1.5rem; margin-bottom: 13px;}
    ul.contact-links{margin: -11px 0 0;}
}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .contact-banner-bg{clip-path: polygon(100% 0,100% 97%,50% 100%,0 97%,0 0);}
    .contact-banner-thumb img{min-height: 990px;}
    .contact-banner-main{padding-top: 112px;}
    .contact-banner-text h1{margin-bottom: 16px; font-size: 2.25rem; line-height: normal;}
    .inquiries-main{margin: 30px 0 28px;}
    .inquiries-main h2{margin-bottom: 14px;}
    ul.inquiries-phno{gap: 10px 30px;}
    ul.inquiries-phno li{margin: 0;}
    .contact-sparta-main{padding: 30px 0; gap: 20px;}
    .contact-sparta-logo{width: 100%;}
    .sparta-logo-thumb{max-width: 135px;}
    .contact-logo-symbol{display: none;}

    .contact-location-shape{clip-path: polygon(100% 0,100% 87%,50% 100%,0 87%,0 0); height: 283px;}
    .contact-location-pattern{bottom: -83px; left: -108px; width: 1198px; height: 739px;}
    .contact-location-main{padding: 31px 0 61px;}
    .contact-loaction-heading{margin-bottom: 80px;}
    .contact-location-items{gap: 21px;}
    .contact-location-list{width: 100%;}
    .contact-location-desc{padding: 21px 28px 24px 23px;}
    .contact-location-desc h3{font-size: 1.5rem; margin-bottom: 13px;}
    ul.contact-links{margin: -11px 0 0;}
}
