
.banner-num-list::before{content: ""; position: absolute; height: 33px; width: 1px; background-color: rgba(255, 255, 255, 0.3); left: 0; top: 50%; transform: translateY(-50%);}
.banner-num-list:first-child{padding-left: 0;}
.banner-num-list:last-child{padding-right: 0;}
.banner-num-list:first-child::before{display: none;}
.banner-num-list .num{font-family: 'lexend', sans-serif; font-size: 2.125rem; color: var(--white); margin-bottom: 5px;}
.banner-num-list span{font-family: 'lexend', sans-serif; font-size: 0.875rem; color: var(--white-80); text-transform: uppercase;}

.revolution-text h2{max-width: 572px; margin: 0 auto 29px; line-height: normal;}
.revolution-cta-thumb figure::before{content: ""; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.49);}
.revolution-cta-inner h3{font-size: 1.75rem; line-height: normal; font-weight: normal;}

.market-insight{background: var(--dark-blue);}
.market-insight-content h3{color: var(--white); line-height: normal; font-weight: normal; margin-bottom: 20px;}
.market-insight-content p{color: var(--white-90);}

.leadership-team::before{content: ""; position: absolute; width: 739px; height: 606px; background-image: url("/images/pattern-dark.svg"); right: -275px; top: -90px;}
.leadership-team::after{content: ""; position: absolute; width: 739px; height: 606px; background-image: url("/images/pattern-dark.svg"); left: -185px; bottom: -270px; z-index: -1;}
.leadership-team-inner{margin-top: auto; text-align: center; width: 100%; padding: 21px 32px;}
.leadership-team-inner h5{color: var(--white); font-weight: normal; line-height: normal; position: relative; margin-bottom: 11px;}
.leadership-team-inner h5::before{content: ""; position: absolute; width: 27px; height: 1px; background-color: var(--blue-color); left: 50%; transform: translateX(-50%); bottom: -9px;}
.leadership-team-inner span{font-size: 0.938rem; color: var(--white-90); line-height: 1.438rem; font-style: italic; font-weight: 500;}


@media screen and (min-width: 1024px) {
    .default-banner-text{margin-bottom: 58px;}
    .banner-num-list{flex: 0 0 85px; padding: 0 36px;}
    
    .revolution-main{max-width: 1000px; margin: 0 auto; padding: 81px 0 125px;}
    .revolution-text{max-width: 796px; margin: 0 auto 109px;}
    .revolution-cta-image{flex: 0 0 592px; margin-right: 102px;}
    .revolution-cta-content{flex: 0 0 calc(100% - 694px);}
    
    .market-insight-main{min-height: 443px;}
    .market-insight-content{flex: 0 0 475px; margin-right: 137px;}
    .market-insight-image{flex: 0 0 calc(100% - 612px);}
    .market-insight-thumb{position: absolute; top: 0; max-width: 790px; height: 100%;}
    
    .leadership-team-main{padding: 198px 0 161px; gap: 20px;}
    .leadership-team-list{flex: 0 0 calc(25% - 15px); overflow: hidden;}
    .leadership-team-content{position: absolute; width: 100%; height: 100%; top: 100%; background: linear-gradient(180deg, rgba(6, 20, 50, 0.00) 0%, rgba(6, 20, 50, 0.87) 100%); transition: all .5s ease;}
    .leadership-team-list:hover .leadership-team-content{top: 0; transition: all .5s ease;}
    .leadership-team-list:nth-child(5n){flex: 0 0 49%;}
    .leadership-team-list:nth-child(5n) .leadership-team-thumb{display: none;}
    .leadership-team-list:nth-child(5n) .leadership-team-content{position: relative; top: 0; background: var(--white);}
    .leadership-team-list:nth-child(5n) .leadership-team-inner{margin-top: 0; text-align: left; width: 100%; padding: 72px 70px 20px 0;}
    .leadership-team-list:nth-child(5n) .leadership-team-inner h3{margin-bottom: 16px; font-weight: normal; line-height: normal;}
}

@media screen and (max-width: 1299px) and (min-width: 1024px) {
    .market-insight-content{flex: 0 0 475px; margin-right: 50px;}
    .market-insight-image{flex: 0 0 calc(100% - 525px);}

}