
.our-culture-page .home-banner-overlay{background-image: linear-gradient(to right, rgba(9, 23, 53, 0.87) 21%, rgba(0, 173, 216, 0.37) 100%);}
.our-culture-page .home-banner-text{text-align: left; max-width: 530px;}
.our-culture-page .home-banner-text h1{margin-bottom: 18px;}
.our-culture-page .home-banner-text p{line-height: 1.531rem;}
.our-culture-page .home-banner-overlay::before{content: ""; position: absolute; bottom: -76px; left: -228px; width: 739px; height: 606px; opacity: .05; background-image: url("./images/pattern-block-white.svg"); background-repeat: no-repeat; background-size: cover; z-index: 1; position: absolute;}

.single-testimonial{background-color: var(--dark-blue); margin-top: -125px;}
figure.quote-thumb{margin-bottom: 28px;}
figure.quote-thumb img{width: 24px;}
.single-testimonial-name{font-size: 1rem; color: var(--blue-color); line-height: 1.531rem; padding-top: 16px; display: block; margin: 33px 0 36px;}
.single-testimonial-name::before{content: ""; position: absolute; width: 21px; height: 1px; background-color: var(--blue-color); left: 50%; transform: translateX(-50%); top: 0;}
.single-testimonial-content p{font-size: 1.25rem; color: var(--white-90); line-height: 1.913rem;}
.single-quote-name{color: var(--blue-color); line-height: 1.531rem; margin-top: 35px; padding-top: 16px; display: block; font-size: 16px;}
.single-quote-name::before{content: ""; position: absolute; width: 21px; height: 1px; background-color: var(--blue-color); left: 50%; transform: translateX(-50%); top: 0;}
.single-quote-thumb{max-width: 98px; margin: 0 auto;}

.our-culture-page .cta-panel-overlay{background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 73%);}
.our-culture-page .cta-panel-text h2{font-size: 1.875rem; line-height: normal; margin-bottom: 23px;}
.our-culture-page .cta-panel-text button{margin-top: 23px;}

.our-culture-page .optional-repeater-main.reverse .optional-repeater-text{opacity: 1;}

.feature-grid-pattern-one{top: -463px; right: -277px; width: 739px; height: 606px; opacity: .03; background-image: url("./images/pattern-block-black.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; position: absolute;}
.feature-grid-pattern-two{bottom: -233px; left: -337px; width: 739px; height: 606px; opacity: .03; background-image: url("./images/pattern-block-black.svg"); background-repeat: no-repeat; background-size: cover; z-index: -1; position: absolute;}
.feature-grid-overlay{background-color: rgba(0, 0, 0, 0.5); position: absolute; width: 100%; height: 100%; z-index: 1;}
.feature-grid-thumb{position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
.feature-grid-content{padding: 30px 0; width: 100%; height: 100%; z-index: 1;}
.feature-grid-inner{max-width: 363px;}
.feature-grid-inner h3{color: var(--white); line-height: normal; font-weight: normal; margin-bottom: 17px;}
.feature-grid-inner p{color: var(--white-90); line-height: 1.7rem;}

.single-testimonial-thumb{max-width: 98px; margin: 0 auto;}

.feature-grid-list{overflow: hidden;}

@media screen and (min-width: 1400px) {
    .our-culture-page .optional-repeater-main.reverse{flex-direction: row-reverse; gap: 0 126px;}
    .our-culture-page .optional-repeater-main.reverse .optional-repeater-image{flex: 0 0 calc(100% - 534px); margin:0 -200px 0 0;}
    .our-culture-page .optional-repeater-main.reverse .optional-repeater-text{flex: 0 0 408px;}
    .our-culture-page .optional-repeater-text p{color: rgba(31, 31, 31, 0.8);}
}

@media screen and (max-width: 1399px) and (min-width: 1024px) {
    .our-culture-page .optional-repeater-main.reverse{gap: 50px;}
    .culture-banner-pattern{bottom: -300px; left: -333px;}
}

@media screen and (min-width: 1024px) {
    .our-culture-page .home-banner-main{margin: 0 0 0 82px;}
    
    .single-testimonial-main{max-width: 633px; margin: 0 auto; padding: 205px 0 121px;}

    .our-culture-page .cta-panel-bg img{min-height: 611px;}
    .our-culture-page .cta-panel-main{max-width: 410px; min-height: 611px;}

    .our-culture-page .optional-repeater-main.reverse{padding: 136px 0;}

    .feature-grid-main{padding: 129px 0; gap: 20px;}
    .feature-grid-list{flex: 0 0 calc(50% - 10px); min-height: 645px;}

}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .our-culture-page .home-banner-main{padding: 30px 0 0;}
    .our-culture-page .home-banner-text{text-align: center; max-width: 100%;}
    .our-culture-page .home-banner-overlay::before{bottom: -210px; left: -352px; width: 564px; height: 464px;}

    .single-testimonial{margin-top: -65px;}
    .single-testimonial-main{padding: 122px 0 58px;}
    .quote-thumb{margin-bottom: 14px;}
    .single-testimonial-name{margin: 32px 0;}

    .our-culture-page .cta-panel-bg img{min-height: 611px;}

    .our-culture-page .optional-repeater-main{padding: 24px 0 40px; gap: 30px;}
    .our-culture-page .optional-repeater-image{width: 100%;}
    .our-culture-page .optional-repeater-text{text-align: center;}
    .our-culture-page .optional-repeater-text h3{font-size: 1.625rem; margin-bottom: 15px; max-width: 100%;}

    .feature-grid-pattern-one{top: -296px; right: -252px; width: 503px; height: 412px;}
    .feature-grid-pattern-two{bottom: -216px; left: -337px; width: 503px; height: 412px;}
    .feature-grid-main{gap: 24px; padding: 35px 0 64px;}
    .feature-grid-list{width: 100%; min-height: 503px;}

}

@media screen and (max-width: 767px) and (min-width: 200px) {
    .our-culture-page .home-banner-overlay::before{bottom: -4px; left: -352px; width: 564px; height: 464px;}
    .our-culture-page .home-banner-bg{clip-path: polygon(100% 0,100% 94%,50% 100%,0 94%,0 0);}
    .our-culture-page .home-banner-main{padding: 70px 0 0;}
    .our-culture-page .home-banner-text{text-align: center; max-width: 100%;}
    .our-culture-page .home-banner-text h1{font-size: 2.25rem; line-height: normal; margin-bottom: 15px;}
    .our-culture-page .home-banner-text .button{margin-top: 5px;}

    .single-testimonial{margin-top: -65px;}
    .single-testimonial-main{padding: 122px 0 58px;}
    .quote-thumb{margin-bottom: 14px;}
    .single-testimonial-name{margin: 32px 0;}

    .our-culture-page .cta-panel-text h2{font-size: 1.625rem; margin-bottom: 16px;}
    .our-culture-page .cta-panel-text .button{margin-top: 9px;}

    .our-culture-page .optional-repeater-main{padding: 24px 0 40px; gap: 30px;}
    .our-culture-page .optional-repeater-image{width: 100%;}
    .our-culture-page .optional-repeater-text{text-align: center;}
    .our-culture-page .optional-repeater-text h3{font-size: 1.625rem; margin-bottom: 15px; max-width: 100%;}

    .feature-grid-pattern-one{top: -296px; right: -252px; width: 503px; height: 412px;}
    .feature-grid-pattern-two{bottom: -216px; left: -337px; width: 503px; height: 412px;}
    .feature-grid-main{gap: 24px; padding: 35px 0 64px;}
    .feature-grid-list{width: 100%; min-height: 503px;}
    
    figure.quote-thumb{margin-bottom: 13px;}
}